//PULSE BORDER
@keyframes pulse-border {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

// TYPING ANIMATION
@keyframes t {
  90%,
  100% {
    width: 100%;
  }
}

@keyframes c {
  0%,
  100% {
    box-shadow: 5px 0 0 #000;
  }
  50% {
    box-shadow: 5px 0 0 #fff;
  }
}

@keyframes m {
  100% {
    transform: translateY(-400%);
  }
}

//Snowfall
@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }
  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}
